

*{
    font-family: 'Roboto', sans-serif;
}

.nav_bar{
   background-color: black;
   height: 80px;
}

.sidebar{
    background-color: rgb(8, 17, 70);
}

.wrapper_up{
    height: calc(100vh - 80px);
    background-color: blueviolet;
    display: flex;
}

.main_content{
    flex-grow: 1;
    height: 100%;
    background-color: aquamarine;
}

/* SIDEBAR */

.sidebar a{
    color: white;
}